.gc-center {
  display: grid;
  place-items: center;
}

.gc-conga {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: column;
}

.gc-pancakes {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: auto;
  grid-auto-flow: row;
}
