:root{
	--size-1: 5px;
	--size-2: 8px;
	--size-3: 13px;
	--size-4: 21px;
	--size-5: 34px;
	--size-6: 55px;
	--size-7: 89px;
	--size-8: 144px;
	--size-9: 233px;
	--size-10: 377px;
	--size-11: 610px;
	--size-12: 987px;
}